
<% content_for :head do %>
	<title><%= @project.name %> | Code4Pro</title>
	<%= render 'twitter_card' %>
<% end %>
<div class="row">
	<div class="col m8">
		<div class="card z-depth-2">
			<div class="card-image">
				<%= image_tag @project.image %>
			</div>
			<div class="row">
		    <div class="col s12">
		      <ul class="tabs">
		        <li class="tab col s3"><a class="active" href="#about">プロジェクト概要</a></li>
		        <li class="tab col s3"><a href="#videos">カリキュラム</a></li>
		        <li class="tab col s3"><a href="#discussions">掲示板</a></li>
		      </ul>
		    </div>
		    <div id="about" class="col s12">
		    	<div class="card-content grey-text text-darken-4">
						<h5><%= @project.name %></h5>
						<span id="average_rating"></span>
						<p> <%= @reviews.count %> <%= @reviews.count > 1? "Reviews" : "Review" %></p>
						<hr>
						<%= @project.content %>
						<h4>Reviews</h4>
						<div><%= render 'reviews/form' if @joined && !@hasReview %></div>
						<div><%= render 'reviews/index' %></div>
					</div>
		    </div>
		    <div id="videos" class="col s10 offset-s1">
		    	<div class="collection" data-no-turbolink>
						<% @tasks.each do |task| %>
							<% if task.header %>
								<div class="collection-item active">
									<i class="mdi-social-school"> <%= task.title %></i>
								</div>
							<% else %>
								<%= link_to [task.project, task], class: "collection-item" do %>
									<%= task.title %>
								<% end %>
							<% end %>
						<% end %>
					</div>
		    </div>
		    <div id="discussions" class="col s12">
		    	<!-- Discussion would be here -->
		    </div>
		  </div>
		</div>
	</div>

	<% if user_signed_in? %>
	<% @count = Project.looking_count(current_user) %>
		<% if @project.subscriptions.where(user_id: current_user.id).any?  %>
			<h1>受講中</h1>
				<div class="card-content center">
					<%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-medium" %><br/>
					<h5><%= current_user.name %></h5>
				</div>
				<div class="card-action center">
					<% @users.each do |u| %>
						<span class="valign-wrapper">
							<%= image_tag avatar_url(u), class: "circle responsive-img avatar-small" %>&nbsp;
							<%= u.name %>
						</span><br/>
					<% end %>
				</div>
    <% else %>
		<div class="col m4">
			<div class="card z-depth-2">
					<div class="card-action center">
							<div class="center">
								<<% if @project.free_flg == 1 %>
								<h1>free</h1>
									<%= form_tag free_path do %>
										<%= hidden_field_tag 'project_id', @project.id %>
									<% end %>
									<%= button_to "このプロジェクトを受講する", free_path, class: "btn orange" %>
								<% elsif @project.free_flg == 2 %>
									<h1>Get,Started</h1>
									  <%= button_to 'ポイントを消費して購入する', :subscriptions,  data: { confirm: "あと#{@count}つ登録できます" } unless @count <= 0 %>
								    <%= link_to "このプロジェクトを受講する", plans_path, project_id: @project.id, class: "btn orange" %>
							  <% end %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
</div>
<script>
	$('#average_rating').raty({
		path: '/images',
		readOnly: true,
		score: <%= @project.average_rating %>
	});
</script>
<% end %>
